**Pandas Tutorial**

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Agenda





1.   What is Data Frames?

1.   What is Data Series?
2.   Different operation in Pandas

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#playing with series

ds=pd.Series([2,3,-4,6])
ds

0    2
1    3
2   -4
3    6
dtype: int64

In [ ]:
#convert dictionary to pandas series
dict = { 'Delhi': 12.9, 'Mumbai': 8.4, 'Kolkata': 9.7 }
ds1=pd.Series(dict)
ds1

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
dtype: float64

In [ ]:
## Playing with Dataframe

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])

In [ ]:
df.head()

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
## Accessing the elements

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int64

In [ ]:
## Check the type

type(df.loc['Row1'])

pandas.core.series.Series

In [ ]:
df.iloc[:,:]

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
## Take the elements from the Column2
df.iloc[:,1:]

      Column2  Column3  Coumn4
Row1        1        2       3
Row2        5        6       7
Row3        9       10      11
Row4       13       14      15
Row5       17       18      19

In [ ]:
#convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [ ]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [ ]:
from google.colab import files
data=files.upload()

Saving mercedesbenz.csv to mercedesbenz.csv

In [ ]:
df=pd.read_csv('mercedesbenz.csv')

In [ ]:
df.head()

   ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0   0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
1   6   88.53   k  t  av  e  d  ...    0    0    0     0     0     0     0
2   7   76.26  az  w   n  c  d  ...    0    0    0     1     0     0     0
3   9   80.62  az  t   n  f  d  ...    0    0    0     0     0     0     0
4  13   78.02  az  v   n  f  d  ...    0    0    0     0     0     0     0

[5 rows x 378 columns]

In [ ]:
df.tail()

        ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
4204  8405  107.39  ak  s  as  c  d  ...    0    0    0     0     0     0     0
4205  8406  108.77   j  o   t  d  d  ...    0    0    0     0     0     0     0
4206  8412  109.22  ak  v   r  a  d  ...    0    0    0     0     0     0     0
4207  8415   87.48  al  r   e  f  d  ...    0    0    0     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  ...    0    0    0     0     0     0     0

[5 rows x 378 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [ ]:
df.describe()

                ID            y  ...         X384         X385
count  4209.000000  4209.000000  ...  4209.000000  4209.000000
mean   4205.960798   100.669318  ...     0.000475     0.001426
std    2437.608688    12.679381  ...     0.021796     0.037734
min       0.000000    72.110000  ...     0.000000     0.000000
25%    2095.000000    90.820000  ...     0.000000     0.000000
50%    4220.000000    99.150000  ...     0.000000     0.000000
75%    6314.000000   109.010000  ...     0.000000     0.000000
max    8417.000000   265.320000  ...     1.000000     1.000000

[8 rows x 370 columns]

In [ ]:
#Get the unique category counts
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
am     18
aq     18
i      18
u      17
aw     16
l      16
ad     14
au     11
b      11
k      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
g       1
ab      1
ac      1
Name: X0, dtype: int64

In [ ]:
df[df['y']>100]

        ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0        0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
6       24  128.76  al  r   e  f  d  ...    0    0    0     0     0     0     0
8       27  108.67   w  s  as  e  d  ...    0    0    0     0     0     0     0
9       30  126.99   j  b  aq  c  d  ...    0    0    0     0     0     0     0
10      31  102.09   h  r   r  f  d  ...    0    0    0     0     0     0     0
...    ...     ...  .. ..  .. .. ..  ...  ...  ...  ...   ...   ...   ...   ...
4202  8402  123.34  ap  l   s  c  d  ...    0    0    0     0     0     0     0
4204  8405  107.39  ak  s  as  c  d  ...    0    0    0     0     0     0     0
4205  8406  108.77   j  o   t  d  d  ...    0    0    0     0     0     0     0
4206  8412  109.22  ak  v   r  a  d  ...    0    0    0     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  ...    0    0    0     0     0     0     0

[2004 rows x 378 columns]

In [ ]:
df.corr()

            ID         y       X10  X11  ...      X382      X383      X384      X385
ID    1.000000 -0.055108  0.001602  NaN  ... -0.038171 -0.009332 -0.015355  0.029059
y    -0.055108  1.000000 -0.026985  NaN  ... -0.159815  0.040291 -0.004591 -0.022280
X10   0.001602 -0.026985  1.000000  NaN  ... -0.010164 -0.004740 -0.002532 -0.004387
X11        NaN       NaN       NaN  NaN  ...       NaN       NaN       NaN       NaN
X12   0.058988  0.089792 -0.033084  NaN  ... -0.024937 -0.011628 -0.006212 -0.010765
...        ...       ...       ...  ...  ...       ...       ...       ...       ...
X380 -0.013577  0.040932 -0.010479  NaN  ... -0.007899 -0.003683 -0.001968 -0.003410
X382 -0.038171 -0.159815 -0.010164  NaN  ...  1.000000 -0.003572 -0.001908 -0.003307
X383 -0.009332  0.040291 -0.004740  NaN  ... -0.003572  1.000000 -0.000890 -0.001542
X384 -0.015355 -0.004591 -0.002532  NaN  ... -0.001908 -0.000890  1.000000 -0.000824
X385  0.029059 -0.022280 -0.004387  NaN  ... -0.003307 -0.001542 -0.000824  1.000000

[370 rows x 370 columns]

In [ ]:
df['X11'].value_counts()

0    4209
Name: X11, dtype: int64

In [ ]:
lst_data=[[1,2,3],[3,4,np.nan],[5,6,np.nan],[np.nan,np.nan,np.nan]]

In [ ]:
df=pd.DataFrame(lst_data)

In [ ]:
df

     0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                     columns=['one', 'two', 'three'])

In [ ]:
df.head()

        one       two     three
a -1.651956 -0.414526 -0.918085
c -1.080730 -0.510712  0.212682
e -0.441515 -1.711004  0.181473
f -1.403085 -0.299823  0.990344
h -1.372163  0.360904  0.382289

In [ ]:
df2=df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [ ]:
df2

        one       two     three
a -1.651956 -0.414526 -0.918085
b       NaN       NaN       NaN
c -1.080730 -0.510712  0.212682
d       NaN       NaN       NaN
e -0.441515 -1.711004  0.181473
f -1.403085 -0.299823  0.990344
g       NaN       NaN       NaN
h -1.372163  0.360904  0.382289

In [ ]:
df2.dropna(axis=0)

        one       two     three
a -1.651956 -0.414526 -0.918085
c -1.080730 -0.510712  0.212682
e -0.441515 -1.711004  0.181473
f -1.403085 -0.299823  0.990344
h -1.372163  0.360904  0.382289

In [ ]:
pd.isna(df2['one'])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
df2['one'].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [ ]:
df2

        one       two     three
a -1.651956 -0.414526 -0.918085
b       NaN       NaN       NaN
c -1.080730 -0.510712  0.212682
d       NaN       NaN       NaN
e -0.441515 -1.711004  0.181473
f -1.403085 -0.299823  0.990344
g       NaN       NaN       NaN
h -1.372163  0.360904  0.382289

In [ ]:
df2.fillna('Missing')

        one       two     three
a  -1.65196 -0.414526 -0.918085
b   Missing   Missing   Missing
c  -1.08073 -0.510712  0.212682
d   Missing   Missing   Missing
e -0.441515    -1.711  0.181473
f  -1.40309 -0.299823  0.990344
g   Missing   Missing   Missing
h  -1.37216  0.360904  0.382289

In [ ]:
df2['one'].values

array([-1.65195598,         nan, -1.08072983,         nan, -0.44151481,
       -1.40308549,         nan, -1.3721632 ])