**PYTHON TUTORIAL**

*What is Python*

Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Pythonâ€™s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

In [ ]:
#Python simple program

print("Hello World")

Hello World

**Taking Input from the User and Print the data**

In [ ]:
name = input("Enter your name:")  
print("Your name is: ", name)

Enter your name:AK
Your name is:  AK

**Python Data Types**

In [ ]:
a=1  
b="Hi"  
c=10.5 
d=1+3j  
print(type(a))  
print(type(b))  
print(type(c))  
print(type(d)) 
print(type(True))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [ ]:
a1=int(input("Enter the integer value"))
a2=float(input("Enter the float value"))
a3=input("Enter the string value")
print(a1)
print(a2)
print(a3)

Enter the integer value10
Enter the float value20.4
Enter the string valuehi
10
20.4
hi

**Python Conditional statements**

In [ ]:
n=int(input("enter the number?"))  
if n%2 == 0:  
    print("Number is even")
else:
  print("Number is odd")

enter the number?5
Number is odd

In [ ]:
marks = int(input("Enter the marks? "))  
if marks > 85 and marks <= 100:  
   print("Congrats ! you scored grade A ...")  
elif marks > 60 and marks <= 85:  
   print("You scored grade B + ...")  
elif marks > 40 and marks <= 60:  
   print("You scored grade B ...")  
elif (marks > 30 and marks <= 40):  
   print("You scored grade C ...")  
else:  
   print("Sorry you are fail ?")

Enter the marks? 60
You scored grade B ...

**Python Loops**


1.   for loop
2.   while loop
3.   do-while loop

**for loop**

In [ ]:
for i in range(1,10):  
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):  
    print(i)

1
3
5
7
9

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]  
for i in list:
  print(i)

1
2
3
4
5
6
7
8
9
10

**while loop**

In [ ]:
i=1   
while i<=10:
  print(i)   
  i=i+1

1
2
3
4
5
6
7
8
9
10

**STRINGS**

In [ ]:
a=input("Enter your string: ")
b=input("Enter your another string:")
print(a)
#length of the string
print(len(a))
#convert string to lower case
print(a.lower())
#convert string to upper case
print(a.upper())
#string indexing
print(a[:])
print(a[1:5])
print(a[::-1])
#string concatenation
print(a+b)

Enter your string: Python
Enter your another string:Code
Python
6
python
PYTHON
Python
ytho
nohtyP
PythonCode

**LIST**

In [ ]:
L=[1,2,3,'A','B']
#print a type
print(type(L))
#print a List
print(L)
#List indexing 
print(L[0:3])
#reverse a list
print(L[::-1])
#Updating list value
L[2]='C'
print(L)
#list indexing with stepsize
print(L[1:5:2])
#Iterating list
for i in L:
  print(i)
#Adding element to list
L.append(6)
print(L)
L1=[7,8,9]
L.append(L1)
print(L)
#extend metho in list
L2=['X','Y','z']
L.extend(L2)
print(L)

<class 'list'>
[1, 2, 3, 'A', 'B']
[1, 2, 3]
['B', 'A', 3, 2, 1]
[1, 2, 'C', 'A', 'B']
[2, 'A']
1
2
C
A
B
[1, 2, 'C', 'A', 'B', 6]
[1, 2, 'C', 'A', 'B', 6, [7, 8, 9]]
[1, 2, 'C', 'A', 'B', 6, [7, 8, 9], 'X', 'Y', 'z']

**TUPLES**

In [ ]:
tuple1 = (10, 20, 30, 40, 50, 60)    
print(tuple1)    
count = 0    
for i in tuple1:    
    print(count, i)   
    count = count+1

(10, 20, 30, 40, 50, 60)
0 10
1 20
2 30
3 40
4 50
5 60

In [ ]:
tup = (1,2,3,4,5,6,7)  
print(tup[0])  
print(tup[1])  
print(tup[2])

1
2
3

In [ ]:
tuple = (1,2,3,4,5,6,7)  
#element 1 to end  
print(tuple[1:])  
#element 0 to 3 element   
print(tuple[:4])  
#element 1 to 4 element  
print(tuple[1:5])   
# element 0 to 6 and take step of 2  
print(tuple[0:6:2])
#reverse a tuple
print(tuple[::-1])

(2, 3, 4, 5, 6, 7)
(1, 2, 3, 4)
(2, 3, 4, 5)
(1, 3, 5)
(7, 6, 5, 4, 3, 2, 1)

**DICTIONARY**

1.   Keys must be a single element
2.   Value can be any type such as list, tuple, integer, etc.

In [ ]:
Employee = {"Name": "Arul", "Age": 25, "salary":25000,"Company":"TCS"}    
print(type(Employee))    
print("Employee data .... ")    
print(Employee)

<class 'dict'>
Employee data ....
{'Name': 'Arul', 'Age': 25, 'salary': 25000, 'Company': 'TCS'}

In [ ]:
# Creating a Dictionary   
# with dict() method   
Dict = dict({1: 'A', 2: 'B', 3:'C'})   
print("\nCreate Dictionary by using  dict(): ")   
print(Dict)
#pop method
a=Dict.pop(3)
print(a)
print(Dict)

Create Dictionary by using  dict():
{1: 'A', 2: 'B', 3: 'C'}
C
{1: 'A', 2: 'B'}

In [ ]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}  
print(type(Employee))  
print("printing Employee data .... ")  
print("Name : %s" %Employee["Name"])  
print("Age : %d" %Employee["Age"])  
print("Salary : %d" %Employee["salary"])  
print("Company : %s" %Employee["Company"])

<class 'dict'>
printing Employee data ....
Name : John
Age : 29
Salary : 25000
Company : GOOGLE

In [ ]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}    
print(type(Employee))    
print("printing Employee data .... ")    
print(Employee)    
print("Enter the details of the new employee....");    
Employee["Name"] = input("Name: ");    
Employee["Age"] = int(input("Age: "));    
Employee["salary"] = int(input("Salary: "));    
Employee["Company"] = input("Company:");    
print("printing the new data");    
print(Employee)

<class 'dict'>
printing Employee data ....
{'Name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}
Enter the details of the new employee....
Name: AK
Age: 20
Salary: 30000
Company:TCS
printing the new data
{'Name': 'AK', 'Age': 20, 'salary': 30000, 'Company': 'TCS'}

In [ ]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}    
for x in Employee.values():    
    print(x)

John
29
25000
GOOGLE

In [ ]:
Employee={"Name":"John","Age":29,"Salary":25000,"Company":"GOOGLE","Name":"John"}    
for x,y in Employee.items():    
    print(x,y)

Name John
Age 29
Salary 25000
Company GOOGLE